body {
  color: #1f231e;
  background-color: #ecc0a4;
}

a {
  color: $blue;
  text-decoration: none;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #a35563;
}


.pagination a:hover, .pagination a:focus {
  background: #97e0a7;
  color: #a35563;
}

.pagination a:active {
  background: #f7f7f7;
}

.pagination a, .pagination .disabled {
  background: #a35563;
  border: 1px solid #99cc99;
  color: #97e0a7;
}

.site-header {
  background: #a35563;
  color: #97e0a7;
  border-bottom:  #99cc99 solid 4px;
 }

.site-header a,
footer a {
  color: #97e0a7;
 }

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active,
footer a:hover,
footer a:focus,
footer a:active {
  color: #85ab8f;
  opacity: 1;
  border-bottom: 2px solid #99cc99;
}

.site-header nav a {
  color: #97e0a7;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

.meta,
.post-meta {
  color: #a35563;
}

.posts .post {
  border-bottom: thin solid #f3f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #a35563;
}

hr{
  color: #a35563;
}

.button-blue{
  background: #a35563;
  color: #97e0a7;
}

footer {
  background: #a35563;
  color: #97e0a7;
  border-top: #99cc99 solid 4px;
 }