<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}

        <a class="pagination-item" href="{{ site.baseurl }}/">Anterior</a>
            {% endif %}
    {% else %}
      <span class="pagination-item disabled">Anterior</span>
    {% endif %}
  </div>
  <div class="right">
    {% if paginator.next_page %}
      <a class="pagination-item" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Próximo</a>
    {% else %}
      <span class="pagination-item disabled">Próximo</span>
    {% endif %}
  </div>
</div>